:root {
  --bg-body: hsl(213, 85%, 97%);
  --bg-main: hsl(0, 0%, 99%);
  --bg-second: hsl(250, 5%, 77%);
  --color-hover: hsl(218, 29%, 85%);
  --color-txt: #151426;
}

.df,
.dc,
.df-sb {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.df-sb {
  justify-content: space-between;
}

.dc {
  justify-content: center;
}

.gap1 {
  gap: 1rem;
}

.p-16 {
  padding: 1rem;
}

.p-8 {
  padding: .5rem;
}

.mb-16 {
  margin-bottom: 1rem;
}

.rotateZ90 {
  transform: rotateZ(90deg);
}

.rotateZ270 {
  transform: rotateZ(270deg);
}

.cp {
  cursor: pointer;
}

.pr {
  position: relative;
}