.modal-app {
    padding: 1rem;
    margin-bottom: 1rem;
}

.modal-app h1 {
    margin-bottom: 1rem;
}

.modal-wrapper,
.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal-backdrop {
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-box {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    transform: translate(-50%, -50%);
    background-color: white;
    position: relative;
    overflow-y: auto;
    min-height: 30%;
    padding: 40px;
    z-index: 101;
    width: 60%;
    left: 50%;
    top: 50%;
}


/* Modal 2 */
#root-modal {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.main-modal-cont {
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
}

.modal-close-ic:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.micromini {
    width: 400px;
}

.micro {
    width: 30vw;
}

.mini {
    width: 40vw;
}

.small {
    width: 50vw;
}

.medium {
    width: 70vw;
}

.large {
    width: 80vw;
}