.modal-app {
    padding: 1rem;
    margin-bottom: 1rem;
}

.modal-app h1 {
    margin-bottom: 1rem;
}

.modal-wrapper, .modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal-backdrop {
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-box {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    transform: translate(-50%, -50%);
    background-color: white;
    position: relative;
    overflow-y: auto;
    min-height: 30%;
    padding: 40px;
    z-index: 101;
    width: 60%;
    left: 50%;
    top: 50%;
}